/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
*/
/**
 * ファイル名: AtomStyles_ver2.1.0.less
 * 作成者: 命を燃やせない死んでない闇の空蝉ultimate
 * 最終更新日: 2018/07/02
 * バージョン: 2.1.0
 *
 * Atom.App スタイルシート
 * テキストエディタの見た目(デザイン)の設定
 *
 * 記述法
 *   複数行にわたるコメントは上に記述し対象コードの最後行と次のコードの間を1行開ける．
 *   コード1行のコメントは同じ行の右側に記述
 *   ユーザー名などの情報はgithubに上げる前にテキトーに変更する
 * 更新履歴
 *   2018/06/11(ver1.0.0)
 *     記述法の設定
 *     これまでのコードの最適化と追加
 *       コードを階層構造にして解読性の向上
 *     コメントの追記や整理
 *     一部パッケージのスタイル変更
 *   2018/06/11(ver1.0.1)
 *     Atomターミナル背景と背景画像の設定
 *     Atomターミナルの文字サイズ変更(設定画面)
 *     記述法追記
 *   2018/06/12(ver1.0.2)
 *     背景の透明度の変更
 *   2018/06/13(ver1.0.3)
 *     文字フォント(Menlo-Italic, SourceHanCodeJP-LightIt)の追加
 *     コメント文の整形
 *   2018/06/26(ver 1.0.4)
 *     背景色と透過率の変更
 *     選択中の行番号の文字サイズ変更
 *     アクティブタブの文字色変更
 *     タブの文字サイズ変更
 *     タブの背景透過
 *     "highlight-selected"プラグイン枠線の色の変更
 *     "highlight-selected"プラグイン背景の変更
 *   2018/07/02 (ver 2.0.0)
 *     スタイル指定方法の変更
 *       親要素，子要素の関係の明確化
 *       より細部の特定の部分のみにスタイル適用可能
 *     各ペイン要素の境界線表示
 *     プロジェクトフォルダ
 *       ツリービューの文字色変更
 *       開閉ボタンの背景色，文字色の変更
 *     アクティブタブ
 *       背景色，文字の太さ変更，タブの下部に下線を表示
 *     行番号部分
 *       行番号とブックマーク表示部分の境界線を表示
 *       テキスト選択中，非選択中の行番号背景色変更
 *     選択中のテキストの背景色変更
 *     入力中の桁(縦ライン)の背景色変更
 *     "browser plus"(ブラウザーを追加するプラグイン)
 *       ブラウザのナビゲーションバー
 *         枠線と境界線を表示
 *         有効なボタンの色を変更
 *       アドレスバーの背景色と文字色の変更
 *       ボタン類表示ツールバーの高さ変更
 *       ボタン類の枠線，背景色，文字色変更
 *       ボタン類のアイコンを中央に表示
 *     "platformio-ide-terminal"(ターミナル追加)プラグイン
 *       ボタンツールバーとターミナル部分の境界線の表示
 *     Linter開閉ボタンの背景色文字色変更
 *     ステータスバーのアイコン類の文字色変更
 *   2018/07/02 (2.1.0)
 *     マッチング検索結果の枠線の色と形を変更
 *     "highlight-column"(カーソル縦ライン)プラグイン
 *       背景色変更
 *     コメントの追記と整理
 *     アクティブタブ
 *       フォントの変更
 *       アンダーラインの太さを変更
 *     タブの背景を完全透明化
 */


// 背景画像のフルパス
@background-image: url("/Users/utsusemi-ultimate/Pictures/publicBackGroundPicture/1440_900_20120223032123223025.jpg");

// ターミナル背景
// @terminal-background-image: url("/Users/ユーザー名/Pictures/");
@background-image-terminal: @background-image;

// 背景の色と透過率
@backgound-color-editor: rgba(02, 17, 80, 0.4);  // エディタ部分背景色
// @backgound-color-frame: rgba(0, 0, 0, 0.10);
@backgound-color-gutter: rgba(0, 0, 0, 0.217);   // 行番号部分の背景色

@font-family: "Apple-Chancery", "Menlo-Italic", "SourceHanCodeJP-LightIt";  // 文字フォント

// 自作色
@background-color-terminal: rgba(02, 17, 80, 0.17);                           // エディタ部分の背景色
@background-tab: rgba(02, 17, 80, 0.7);                                       // アクティブタブの背景色
@background-color-terminal-btns: rgba(02, 17, 80, 0.4);                       // ターミナルプラグインのボタン背景色
@madoka-selection: rgba(255, 62, 93, 0.217);                                  // テキスト選択時の背景色
@homura-selection: rgba(173, 102, 239, 0.217);                                // テキスト選択時の背景色
@background-color-line-number-no-selection-madoka: rgba(255, 62, 93, 0.7);    // テキスト非選択時の行番号背景色(まどか)
@background-color-line-number-no-selection-homura: rgba(173, 102, 239, 0.7);  // テキスト非選択時の行番号背景色(ほむら)
@highlight-column-background-color: rgba(173, 102, 239, 0.7);                 // 縦ラインの色
@background-color-highlight-selected: rgba(02, 17, 80, 0.217);                // 同文字列選択時の背景

@lazurite: #02173C;  // 主に背景色
@gold: #E5B217;      // 主に文字色

// 魔法少女シンタックステーマ色
@very-light-gray: #c5c8c6;
@very-light-gray: #EBEAE8;
@light-gray: #9D95A0;
@gray: #66606A;
@dark-gray: #5D5D55;
// @very-dark-gray: #3B363D;
@very-dark-gray: #1a1a1a;

@madoka-vibrant: hsl(338, 80%, 62%);
@homura-vibrant: hsl(271, 81%, 67%);
@sayaka-vibrant: hsl(227, 100%, 74%);
@mami-vibrant:   hsl(50, 74%, 61%);
@kyouko-vibrant: hsl(351, 90%, 52%);

@sayaka-off: @sayaka-vibrant;
@madoka-off: #FBD6DE;

@madoka: #FF628D;
@homura: @homura-vibrant;
@sayaka: @sayaka-vibrant;
@mami:   #FFDD79;
@kyouko: #FF1B3E;
@nagisa: #F2EDF3;


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view

// Atom.app全体
atom-workspace {

    // 画面上部タブとタブの間(ウィンドウタブとエディタタブの間)
    atom-panel-container.header {

        // 画面全体を下に下げたい時
        // height: 10px;
    }

    // 画面下部ステータスバー以外のエディタ部分
    atom-workspace-axis.horizontal {

        // background: transparent;
        // background-color: transparent;

        // 画面左要素
        atom-panel-container.left {

            border: solid 1px @sayaka;  // ツリービュー部分左右の枠線

            // 画面左のプロエクトフォルダなどを表示する要素
            atom-dock.left {

                // 常に適用する
                div.atom-dock-inner.left {

                    // ツリービュー開閉ボタン要素
                    div.atom-dock-toggle-button.left {

                        // 要素表示中
                        &.atom-dock-toggle-button-visible {

                            // 半円部分
                            div.atom-dock-toggle-button-inner.left {

                                background-color: @lazurite;  // 開閉ボタンの背景
                                color: @gold;                 // 文字色
                            }
                        }
                    }

                    // ツリービューを開いているときに適応
                    &.atom-dock-open {

                        // ツリービュー開閉ボタン要素
                        div.atom-dock-toggle-button.left {

                            // 要素表示中
                            &.atom-dock-toggle-button-visible {

                                // 半円部分
                                div.atom-dock-toggle-button-inner.left {

                                    // background-color: @homura;  // 背景色
                                }
                            }
                        }

                    }

                    // ツリービュー
                    .atom-dock-mask {

                        // コンテンツラッパー
                        div.atom-dock-content-wrapper.left {

                            // 常に幅の変更が行えるハンドル
                            div.atom-dock-resize-handle.left {

                                // 表示中に幅の変更を行えるハンドル
                                &.atom-dockresizehandle-resizable {

                                }
                            }

                            // ツリービューの中身が入っている箱
                            atom-pane-container.panes {

                                // background-color: @lazurite;  // 背景色
                                // font-size: 16px;              // 文字サイズ
                                // color: @gold;                 // 文字色
                                font-family: @font-family;    // 文字フォント

                                // 中身
                                atom-pane.pane {

                                    // タブ部分
                                    ul.list-inline.tab-bar.inset-panel {

                                        border-bottom: solid 1px @madoka;  // タブとコンテンツとの境界線

                                        // タブそのもの
                                        li.tab {

                                            background: transparent;  // 背景
                                            font-size: 12px;          // 文字サイズ
                                            color: @gold;             // 文字色


                                            // 並び変え可能，アクティブタブ
                                            &.sortable.active {

                                                font-size: 14px;  // 文字サイズ
                                            }

                                            // タブのタイトル
                                            div.title {

                                                text-align: center;  // 中央揃え
                                            }
                                        }
                                    }

                                    // アイテム(プロジェクトファイルフォルダ)全体
                                    div.item-views {

                                        // アイテム
                                        div.tool-panel.tree-view {

                                            // background-color: @lazurite;  // 背景色
                                            background: @background-tab;  // 背景
                                            font-size: 16px;              // 文字サイズ

                                            // 要素内全ての要素
                                            * {
                                                color: @gold;               // 文字色
                                                font-family: @font-family;  // 文字フォント
                                            }

                                            // 階層表示リスト
                                            ol.tree-view-root.full-menu.list-tree.has-collapsable-children.focusable-panel {

                                                // 各フォルダ
                                                li.directory.entry.list-nested-item.project-root {

                                                    // 選択してない，展開していない
                                                    &.collapsed {

                                                        // フォルダ要素
                                                        div.header.list-item.project-root-header {

                                                            // フォルダアイコンとフォルダ名
                                                            span.name.icon.atom-icon.dark-green {

                                                            }
                                                        }

                                                        // リスト要素
                                                        ol.entries.list-tree {

                                                        }
                                                    }

                                                    // 選択してない，展開している
                                                    &.expanded {

                                                        // フォルダ要素
                                                        div.header.list-item.project-root-header {

                                                            // フォルダアイコンとフォルダ名
                                                            span.name.icon.icon-file-directory {

                                                            }
                                                        }

                                                        // リスト要素
                                                        ol.entries.list-tree {

                                                        }
                                                    }

                                                    // 選択している，展開していない
                                                    &.selected.collapsed {

                                                        // フォルダ要素
                                                        div.header.list-item.project-root-header {

                                                            // フォルダアイコンとフォルダ名
                                                            span.name.icon.atom-icon.dark-green {

                                                            }
                                                        }

                                                        // リスト要素
                                                        ol.entries.list-tree {

                                                        }
                                                    }

                                                    // 選択している，展開している
                                                    &.selected.expanded {

                                                        // フォルダ要素
                                                        div.header.list-item.project-root-header {

                                                            // アイコンとフォルダ名
                                                            span.name.icon.atom-icon.dark-green {

                                                            }
                                                        }
                                                        ol.entries.list-tree {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // 画面中央作業スペース
        atom-workspace-axis.vertical {

            background-color: @lazurite;     // 背景色
            background: @background-image;   // 背景
            background-repeat: no-repeat;    // 背景のリピート
            background-size: cover;          // 背景画像の大きさ
            background-position: right top;  // 背景画像の位置
            margin: 0 0 0 0;                 // 上右下左の外側の余白
            padding: 0 0 0 0;                // 上右下左の内側の余白

            font-family: @font-family;       // 文字フォント
            color: @gold;                    // 文字色


            // ウィンドウタブとエディタタブの7間
            atom-panel-container.top {
            }

            // メイン作業スペース，エディタタブからエディタ部分
            atom-pane-container.panes {

                // 本体
                atom-pane.pane {

                    border-right: solid 1px @sayaka;  // 枠線
                    border-collapse: collapse;        // 枠線間の隙間なし

                    background-color: @backgound-color-editor;  // 背景色

                    // タブバー
                    ul.list-inline.tab-bar.inset-panel {

                        background-color: transparent;  // 背景
                        border-top: solid 1px @sayaka;  // ペイン境界線
                        border-bottom: solid 1px @madoka;

                        // タブ
                        li.tab.sortable {

                            color: @gold;             // 文字色
                            background: transparent;  // 背景
                            font-size: 12px;          // 文字サイズ

                            // アイコン表示要素
                            &::before {

                                background: transparent;  // 背景
                            }

                            // アイコンとタイトル
                            div.title.icon {

                                // アイコン
                                &::before {
                                    // background: red;
                                }
                            }

                            // 閉じるアイコン
                            div.close-icon {

                                color: @gold;  // 文字色
                            }

                            // 閉じるアイコン表示要素
                            &::after {

                                background: transparent;  // 背景
                            }

                            // アクティブタブ
                            &.active {

                                background-color: @background-tab;  // アクティブタブの背景
                                border-bottom: solid 2px @homura;   // アクティブタブの下部にアンダーライン
                                font-size: 15px;                    // 文字サイズ
                                font-family: @font-family;          // 文字フォント
                                // font-weight: bold;                  // 太字
                                font-style: italic;                 // フォントスタイル
                                // text-align: center;                 // 中央揃え

                                // アイコン表示要素
                                &::before {

                                    // background: red;
                                    border-bottom: solid 2px @homura;   // アクティブタブの下部にアンダーライン
                                }

                                // アイコンとタイトル
                                div.title.icon {

                                    // text-align: center;

                                    // アイコン
                                    &::before {

                                        // background: red;
                                    }
                                }

                                // 閉じるアイコン
                                div.close-icon {

                                    // color: @gold;  // 文字色
                                }

                                // 閉じるアイコン表示要素
                                &::after {

                                    // background: red;
                                    border-bottom: solid 2px @homura;   // アクティブタブの下部にアンダーライン
                                }
                            }
                        }
                    }

                    // アクティブペイン
                    // &.active {
                    //
                    //     // タブバー
                    //     ul.list-inline.tab-bar.inset-panel {
                    //
                    //         background-color: transparent;  // 背景
                    //
                    //         // タブ
                    //         li.texteditor.tab.sortable {
                    //
                    //             color: @gold;             // 文字色
                    //             background-color: transparent;  // 背景
                    //             font-size: 14px;          // 文字サイズ
                    //
                    //             // アクティブタブ
                    //             &.active {
                    //
                    //                 font-size: 16px;          // 文字サイズ
                    //             }
                    //         }
                    //     }
                    // }

                    // エディタ部分
                    div.item-views {

                        // 文字入力部分
                        atom-text-editor.editor {

                            background-color: transparent;  // 背景

                            // 行番号，エディタ部分
                            div.gutter-container {


                                // 行番号
                                div.gutter {

                                    background-color: @lazurite;      // 背景色
                                    color: @gold;                     // 文字色
                                    width: auto;                      // 横幅
                                    text-align: center;               // 中央揃え
                                    font-family: @font-family;        // 文字フォント

                                    // 行番号の背景色をリセット
                                    .line-number.cursor-line {

                                        background-color: transparent;  // 背景色
                                    }

                                    // 行番号部分
                                    &.line-numbers {

                                        color: @gold;                   // 文字色
                                        border-right: solid 1px @gold;  // 行番号とブックマークを表示する部分の境界線

                                        // カーソルがある行番号
                                        div div.cursor-line {

                                            // background-color: @madoka-vibrant;  // 行番号の背景色
                                            background-color: @homura-vibrant;
                                            color: @gold;                       // 文字色

                                            // 範囲選択していない
                                            &.cursor-line-no-selection {

                                                font-size: 17px;                                                      // 文字サイズ
                                                background-color: @background-color-line-number-no-selection-homura;  // 背景色

                                            }
                                        }
                                    }

                                    // ブックマーク表示部分
                                    div.custom-decorations div.decoration.linter-row {

                                        // 入力中の行番号
                                        span.line-number.cursor-line.linter-cursor-line {

                                            border: none;  // 行番号との境界線削除

                                            // 範囲選択していない
                                            &.cursor-line-no-selection {

                                                // background-color: @kyouko !important;  // 背景色
                                            }
                                        }
                                    }
                                }
                            }

                            // 文字入力部分
                            div.scroll-view {

                                border-left: solid 1px @sayaka;  // 行番号とエディタ部分の境界

                                div div.lines {

                                    // ハイライト
                                    div.highlights {

                                        // 全体
                                        div.highlight {

                                            // 選択されている奴ら
                                            &.selection {

                                                // 選択部分
                                                div.region.selection {

                                                    background-color: @homura-selection !important;  // 背景色
                                                }
                                            }

                                            // マッチング検索
                                            &.bracket-matcher {
                                                .region {

                                                    // background-color: @madoka;   // 背景色
                                                    border: dotted 1px @nagisa;  // 枠線
                                                }
                                            }

                                            // "highlight-selected"プラグイン
                                            div.highlight-selected {

                                                border: solid 1px @nagisa;                               // 枠線
                                                background-color: @background-color-highlight-selected;  // 背景色

                                                // 選択している同じ文字列
                                                div.region {
                                                }
                                            }
                                        }

                                        // 全角スペースの見た目
                                        div.ideographic-space {

                                            // 選択した要素の後ろに擬似要素を追加
                                            div.region:after {

                                                background-color: @nagisa;  // 背景色
                                                color: @kyouko;             // 文字色
                                                content: "全";              // 追加する文字列
                                            }
                                        }

                                        // 検索結果の設定
                                        div.find-result {

                                            // 見つけた文字列
                                            div.region {

                                                border: solid 2px @gold;  // 枠線
                                            }
                                        }
                                    }

                                    // カーソルのある行
                                    div div.line.cursor-line {

                                        border-bottom: solid 1px @homura;  // 水平線
                                    }

                                    // カーソル
                                    div.cursors {

                                        // 点滅している部分
                                        div.cursor {

                                            border-left: solid 1px @gold;  // 線と色
                                        }
                                    }

                                    // 縦ライン
                                    div.highlight-column {

                                        // border-left: solid 8px @mami-vibrant;  // カーソルがある桁(列)の背景
                                        background-color: @highlight-column-background-color;  // 背景色
                                    }

                                    // コメント
                                    span.syntax--comment {

                                        color: #198002;  // 文字色
                                    }
                                }


                            }

                            // アクティブタブ，入力中の画面
                            &.is-focused {
                            }

                            // 文字が選択されている
                            &.has-selection {
                            }

                            // アクティブタブ，文字選択中
                            &.is-focused.has-selection {
                            }
                        }

                        // ブラウザープラスプラグイン
                        div.browser-plus {

                            // ナビゲーションバー
                            div.url.native-key-bindings {

                                border: solid 1px @homura;  // 外枠線

                                // アドレスバーより左の操作ボタン
                                div.nav-btns-left {

                                    // 全ボタン
                                    span {

                                        border-right: solid 1px @sayaka;  // ボタン間の境界線

                                        // 有効なボタン
                                        &.active {

                                            color: @gold;  // アイコン色
                                        }
                                    }

                                    // 戻るボタン
                                    span#back.mega-octicon.octicon-arrow-left {

                                        // 有効
                                        &.active {
                                        }

                                    }

                                    // 進むボタン
                                    span#forward.mega-octicon.octicon-arrow-right {

                                        // 有効
                                        &.active {
                                        }
                                    }

                                    // 再読み込みボタン
                                    span#refresh.mega-octicon.octicon-sync {

                                        // 有効
                                        &active {
                                        }
                                    }

                                    // 履歴ボタン
                                    span#history.mega-octicon.octicon-book {

                                        // 有効
                                        &.active {
                                        }
                                    }

                                    // お気に入りボタン
                                    span#fav.mega-octicon.octicon-star {

                                        // 有効
                                        &.active {

                                        }
                                    }

                                    // お気に入り一覧表示ボタン
                                    span#favList.octicon.octicon-arrow-down {

                                        border: none;       // 枠線なし
                                        margin: 0 0 0 4px;  // 上右下左

                                        // 有効
                                        &.active {

                                        }
                                    }
                                }

                                // アドレスバーと機能ボタン
                                div.nav-btns {

                                    // 機能ボタン
                                    div.nav-btns-right {

                                        span {

                                            border-right: solid 1px @sayaka;  // ボタン間の境界線
                                        }

                                        // 新規タブボタン
                                        span#newTab.octicon {

                                            font-size: 1.7rem;  // アイコンサイズ
                                            padding: 0 0 0 0;   // 要素内側の余白
                                        }

                                        // 印刷ボタン
                                        span#print.icon-browser-pluss.icon-print {

                                            font-size: 2.0rem;   // アイコンサイズ
                                            width: 25px;         // 横幅
                                            padding: 0 4px 0 0;  // 上右下左

                                            // アイコン
                                            &::before {
                                            }
                                        }

                                        // タブのピン留ボタン
                                        span#remember {

                                            margin: 0 0 0 0;     // 外側の余白
                                            padding: 0 2px 0 0;  // 内側からの余白

                                            // アイコン
                                            &::before {
                                                // color: @gold;
                                            }
                                        }

                                        // ライブボタン
                                        span#live {

                                            margin: auto;  // 外側の余白

                                            // アイコン
                                            &::before {

                                            }
                                        }

                                        // ツールボタン(要素の検証)
                                        span#devtool {

                                            border: none;  // ボタン間の枠線削除
                                        }
                                    }

                                    // アドレスバー
                                    div.input-url #url{

                                        border: none;                     // 枠線削除
                                        border-left: solid 1px @sayaka;   // アドレスバーの左枠線
                                        border-right: solid 1px @sayaka;  // アドレスバーの右枠線
                                        background-color: @lazurite;      // 背景色
                                        color: @gold;                     // 文字色
                                        font-family: @font-family;        // 文字フォント
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // 画面下部(ステータスバー以外)
            atom-panel-container.bottom {

                // ターミナル追加プラグイン"platformio-ide-terminal terminal-view"
                atom-panel.bottom.tool-panel.panel-bottom {

                    // ターミナル本体
                    div.platformio-ide-terminal {

                        background: @background-image-terminal;  // 背景
                        background-repeat: no-repeat;            // 背景のリピート
                        background-size: cover;                  // 背景画像の大きさ
                        border: solid 1px @sayaka;               // 枠線

                        // ターミナル上部の操作ボタン類
                        section.input-block {

                            border-bottom: solid 1px @madoka;  // ターミナルのボタン類と入力欄の境界線
                            padding: 0;                        // 内側からの余白

                            // ボタン類
                            div.btn-toolbar {

                                padding: auto;  // 内側からの余白

                                // 左側のボタングループ
                                div.btn-group {

                                    // キーボードボタン
                                    button.btn.icon.icon-keyboard {

                                        border: solid 1px @gold;                      // 枠線
                                        background: @background-color-terminal-btns;  // 背景
                                        color: @gold;                                 // 文字色

                                        // アイコン
                                        &::before {
                                            margin: 4px 0 0 0;                        // 外側からの余白
                                        }
                                    }

                                    // 右側のボタングループ
                                    &.right {

                                        // ボタン類
                                        button.btn.icon {

                                            // 最小化ボタン
                                            &.icon-chevron-down {

                                                border: solid 1px @gold;                      // 枠線
                                                background: @background-color-terminal-btns;  // 背景
                                                color: @gold;                                 // 文字色

                                                // アイコン
                                                &::before {

                                                    margin: 4px 0 0 0;                        // 上右下左の余白
                                                }
                                            }

                                            // 最大化ボタン
                                            &.icon-screen-full {

                                                border: solid 1px @gold;                      // 枠線
                                                background: @background-color-terminal-btns;  // 背景
                                                color: @gold;                                 // 文字色

                                                // アイコン
                                                &::before {

                                                    margin: 3px 0 0 0;                        // 外側の余白
                                                }
                                            }

                                            // 閉じるボタン
                                            &.icon-x {

                                                border: solid 1px @gold;                      // 枠線
                                                background: @background-color-terminal-btns;  // 背景
                                                color: @gold;                                 // 文字色

                                                // アイコン
                                                &::before {

                                                    margin: 3px 0 0 0;                        // 外側の余白
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        // ターミナル部分
                        div.xterm {

                            background: transparent;                       // 背景
                            background-color: @background-color-terminal;  // 背景色
                            color: @gold;                                  // 文字色
                            // border-top: solid 1px @madoka;                 // ターミナル部分の外枠線
                            font-style: italic;                            // 字体

                            // 入力部分
                            div.terminal {

                                div {

                                    // 選択部分
                                    &::selection {

                                        background-color: @madoka-off;     // 背景色
                                        color: @gold;                      // 文字色
                                    }

                                    // カーソル
                                    .terminal-cursor {

                                        background-color: transparent;           // 背景色
                                        // border-bottom: solid 3px @mami-vibrant;  // カーソルをアンダーバーにする
                                        border-left: solid 2px @mami-vibrant;    // カーソルを縦棒にする
                                    }
                                }
                            }
                        }
                    }
                }

                // 画面下部(ステータスバー上部)
                atom-dock.bottom {

                    // ステータスバーを伸ばすボタン要素
                    div.atom-dock-inner.bottom {

                        // 見えている部分
                        div.atom-dock-toggle-button.bottom {

                            // ボタンが表示されている時
                            &.atom-dock-toggle-button-visible{
                            }

                            // 半円部分
                            div.atom-dock-toggle-button-inner.bottom {

                                background-color: @lazurite;  // ボタン背景

                                // 閉じている時
                                span.icon.icon-chevron-up {

                                    color: @gold;  // 文字色
                                }

                                // 開いている時
                                span.icon.icon-chevron-down {

                                    color: @gold;  // 文字色
                                }
                            }
                        }
                    }
                }
            }
        }

        // 画面右側
        atom-panel-container.right {
        }

    }

    // 画面下部ステータスバー部分(フッター)
    atom-panel-container.footer {

        // フッター
        atom-panel.footer.tool-panel.panel-footer {

            // ステータスバー全体
            status-bar.status-bar {

                background-color: @lazurite;  // 背景色
                font-size: 12px;              // 文字サイズ
                color: @gold;                 // 文字色
                font-family: @font-family;    // 文字フォント

                div.flexbox-repaint-hack {

                    // ステータスバー左側
                    div.status-bar-left {

                        // ターミナル追加プラグイン
                        div.platformio-ide-terminal.status-bar {

                            // "+"と"x"ボタン
                            i.icon{

                                // "+"ボタン
                                &.icon-plus {

                                }

                                // "x"ボタン
                                &.icon-x {

                                    color: @gold;  // 文字色
                                }
                            }

                            // bash切り替えボタン
                            ul.list-inline.status-container {

                            }
                        }

                        // ファイル名
                        .file-info.inline-block a.current-path {

                            color: @gold;  // 文字色
                        }

                        // ステータスカウント
                        div.inline-block.linter-status-count {

                            // ストップアイコン
                            a.icon-stop {

                                color: @gold;  // 文字色
                            }

                            // アラートアイコン
                            a.icon-alert {

                                color: @gold;  // 文字色
                            }

                            // インフォメーションアイコン
                            a.icon-info {

                                color: @gold;  // 文字色
                            }
                        }

                        // 行，列番号表示要素
                        .cursor-position.inline-block {

                            // 表示部分
                            a.inline-block {

                                color: @gold;  // 文字色
                            }
                        }
                    }

                    // ステータスバー右側
                    div.status-bar-right {

                        // 改行コード
                        a.line-ending-tile.inline-block {

                            color: @gold;  // 文字色
                        }

                        // 注意事項
                        div.deprecation-cop-status.inline-block.text-warning {

                            // アイコン
                            span.icon.icon-alert {

                            }

                            // 注意数
                            span.deprecation-number {

                            }
                        }

                        // 文字コード表示要素
                        encoding-selector-status.encoding-status.inline-block {

                            // 文字表示部分
                            a.inline-block {

                                color: @gold;  // 文字色
                            }
                        }

                        // ファイル種類表示要素
                        grammar-selector-status.grammar-status.inline-block {

                            // 文字表示部分
                            a.inline-block {

                                color: @gold;  // 文字色
                            }
                        }

                        // github関連ファイル数表示要素
                        div.github-StatusBarTileController {

                            // 表示部分
                            a.github-ChangedFilesCount.inline-block {

                                color: @gold;  // 文字色
                            }
                        }

                        // パッケージアップデート数
                        div.package-updates-status-view.inline-block {

                            // アイコン
                            span.icon.icon-package {

                                // color: @gold;  // 文字色
                            }

                            // テキスト
                            span.available-updates-status {

                            }
                        }

                        // リリースノート
                        div.about-release-notes.inline-block {

                            // アイコン
                            span.icon.icon-squirrel {

                            }
                        }

                        // atom clockプラグイン
                        div.atom-clock.inline-block {

                            // 表示部分
                            span.atom-clock-time {

                                color: @gold;  // 文字色
                            }
                        }
                    }
                }
            }
        }
    }

    // 画面最下部ステータスバーより下の部分
    atom-panel-container.modal {
    }
}
